@model SAT.Models.tbCargos

@{
    ViewBag.Title = "Borrar Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Esta seguro que desea borrar el registro</h3>
<div>
    <h4>Borrar Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carg_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carg_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carg_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carg_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carg_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_FechaModifica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
