@model SAT.Models.tbCargos

@{
    ViewBag.Title = "Detalles Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles Cargo</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.carg_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carg_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.carg_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.carg_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.carg_Id },new{@class="btn btn-primary"})
	 @Html.ActionLink("Cancelar","Index",null,new{@class="btn btn-default"})
</p>
