@model SAT.Models.tbSecciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbSecciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sec_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbJornadaGrados.jgra_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbJornadaGrados.jgra_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit",null, new { @class = "btn btn-success",  id = Model.dep_Codigo})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default"})
</p>
