@model SAT.Models.tbSecciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sec_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sec_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sec_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbJornadaGrados.jgra_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbJornadaGrados.jgra_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.sec_Id },new{@class="btn btn-primary"})
	 @Html.ActionLink("Cancelar","Index",null,new{@class="btn btn-default"})
</p>
