@model SAT.Models.tbDepartamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
	<div class="x_tittle">
		<h2>Details</h2>
		<div class="nav navbar-right panel_toolbox">
		@Html.ActionLink("Regresar", "Index", new {@class="btn btn-default"})
		</div>
		<div class="clearfix"></div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dep_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dep_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dep_UsuarioCrea)
        </dd>

    </dl>
</div>

    </div>

<p>


    @Html.ActionLink("Editar", "Edit", new { id = Model.dep_Codigo }, new {@class ="btn btn-success"}) |
    @Html.ActionLink("Regresar", "Index", new { @class = "btn btn-success" })
</p>
