@model SAT.Models.tbJornadas

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_panel">

	<div class="x_title">
		<h2>Agregar Jornada</h2>
		<div class="nav navbar-right panel_toolbox">
			@Html.ActionLink("Regresar", "Index")
		</div>
		<div class="clearfix"></div>
	</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.jor_Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.jor_Descripcion, new { htmlAttributes = new { @class = "form-control", @maxlength = "50", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.jor_Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Partial("_CreateGrados", new SAT.Models.tbGrados())  <!--Llamamos a la vista parcial-->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
				@Html.ActionLink("Cancelar", "Index", null, new {@class = "btn btn-default"})
            </div>
        </div>
    </div>
}
</div>

