@model SAT.Models.tbJornadas

@{
    ViewBag.Title = "Detalles Jornada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Jornadas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jor_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jor_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jor_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jor_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jor_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jor_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jor_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jor_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jor_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jor_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.jor_Id }, new { @class = "btn btn-success"})
    @Html.ActionLink("Regresar", "Index",new { @class = "btn btn-default"})
</p>
