@model SAT.Models.tbEscuelas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.esc_Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esc_Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esc_NombreEscuela)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esc_NombreEscuela)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esc_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esc_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esc_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esc_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esc_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esc_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esc_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esc_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados.emp_Identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados.emp_Identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbEmpleados1.emp_Identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleados1.emp_Identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbMunicipios.mun_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbMunicipios.mun_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.esc_Id },new{@class="btn btn-primary"})
	 @Html.ActionLink("Cancelar","Index",null,new{@class="btn btn-default"})
</p>
