@model IEnumerable<SAT.Models.tbEscuelas>

@{
    ViewBag.Title = "Listado Escuela";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="x_panel">
	<div class="x_title">
		<h2>Listado Escuela</h2>
		<div class="nav navbar-right panel-toolbox">
			@Html.ActionLink("Registrar Escuela", "Create",null, new {@class="btn btn-info"} )
		</div>
	<div class="clearfix"></div>
	</div>

<table class="display" id="tabla">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.esc_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esc_NombreEscuela)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esc_Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esc_Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mun_Id)
        </th>
    
    
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.esc_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esc_NombreEscuela)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esc_Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esc_Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mun_Id)
        </td>
     
     
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ },new {@class="btn btn-success btn-xs"}) 
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ },new {@class="btn btn-default btn-xs"}) 
        </td>
    </tr>
}
</tbody>
</table>
</div>
