@model SAT.Models.tbMatriculas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
    
        <dt>
            @Html.DisplayNameFor(model => model.alu_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbAlumnos.alu_Nombres)
            &nbsp
            @Html.DisplayFor(model => model.tbAlumnos.alu_Apellidos)


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.car_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCarreras.car_Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sec_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbSecciones.sec_Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.esc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEscuelas.esc_NombreEscuela)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.mat_Anio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mat_Anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mat_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mat_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mat_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mat_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mat_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mat_FechaModifica)
        </dd>






    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.mat_Id },new{@class="btn btn-primary"})
	 @Html.ActionLink("Cancelar","Index",null,new{@class="btn btn-default"})
</p>
