@model IEnumerable<SAT.Models.tbMatriculas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
	<div class="x_title">
		<h2>Index</h2>
		<div class="nav navbar-right panel_toolbox">
		@Html.ActionLink("Registrar ", "Create", null,new{@class="btn btn-info"})

		</div>
		<div class="clearfix"></div>
	</div>

<table class="table table-striped table-bordered dataTable">
<thead>
	<tr>
        <th>
            @Html.DisplayNameFor(model => model.mat_Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbAlumnos.alu_Identidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbCarreras.car_Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEscuelas.esc_Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbSecciones.sec_Descripcion)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mat_Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsuarios.usu_NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsuarios1.usu_NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbAlumnos.alu_Identidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCarreras.car_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEscuelas.esc_Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbSecciones.sec_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.mat_Id }, new {@class = "btn btn-default btn-xs"})
            @Html.ActionLink("Detalle", "Details", new { id=item.mat_Id }, new {@class = "btn btn-default btn-xs"})
        </td>
    </tr>
}
</tbody>

</table>
</div>
