@model IEnumerable<SAT.Models.tbMatriculas>

@{
    ViewBag.Title = "Matriculas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
	<div class="x_title">
		<h2>Matriculas</h2>
		<div class="nav navbar-right panel_toolbox">
		@Html.ActionLink("Registrar", "Create", null,new{@class="btn btn-info"})

		</div>
		<div class="clearfix"></div>
	</div>

<table class="table table-striped table-bordered dataTable">
<thead>
	<tr>

        
        <th>
            @Html.DisplayNameFor(model => model.alu_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sec_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.esc_Id)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.mat_Anio)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.tbAlumnos.alu_Nombres)
            &nbsp
            @Html.DisplayFor(modelItem => item.tbAlumnos.alu_Apellidos)


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCarreras.car_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbSecciones.sec_Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEscuelas.esc_NombreEscuela)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.mat_Anio)
        </td>

        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.mat_Id }, new {@class = "btn btn-default btn-xs"})
            @Html.ActionLink("Detalle", "Details", new { id=item.mat_Id }, new {@class = "btn btn-default btn-xs"})
        </td>
    </tr>
}
</tbody>

</table>
</div>
