@model SAT.Models.tbEmpleados

@{
    ViewBag.Title = "Detalles Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Detalles Empleados</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_Identidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Identidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mun_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mun_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_FechadeSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_FechadeSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_RazonSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_RazonSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_FechaModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbCargos.carg_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCargos.carg_Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit",null, new { @class = "btn btn-success",  id = Model.dep_Codigo})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default"})
</p>
