@model IEnumerable<SAT.Models.tbAlumnos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
	<div class="x_title">
		<h2>Index</h2>
		<div class="nav navbar-right panel_toolbox">
		@Html.ActionLink("Registrar Alumno", "Create", null,new{@class="btn btn-info"})

		</div>
		<div class="clearfix"></div>
	</div>

<table class="table table-striped table-bordered dataTable" id="tlb">
<thead>
	<tr>
        <th>
            @Html.DisplayNameFor(model => model.alu_Identidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_NombresEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_ApellidosEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_TelefonoEncargado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_FechaCrea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alu_FechaModifica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsuarios.usu_NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbUsuarios1.usu_NombreUsuario)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alu_Identidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_NombresEncargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_ApellidosEncargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_TelefonoEncargado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_FechaCrea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alu_FechaModifica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsuarios.usu_NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbUsuarios1.usu_NombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.alu_Id }, new {@class = "btn btn-default btn-xs"})
            @Html.ActionLink("Detalle", "Details", new { id=item.alu_Id }, new {@class = "btn btn-default btn-xs"})
        </td>
    </tr>
}
</tbody>

</table>
</div>
