@model IEnumerable<SAT.Models.tbMunicipios>

<table class="table table-striped table-bordered" id="tlb">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mun_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mun_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.mun_Id">
                <td>
                    @Html.DisplayFor(modelItem => item.mun_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mun_Descripcion)
                </td>
                <td>
                    <input class="btn btn-primary btn-xs" value="Editar" id="EditarMunicipio" />
                    <input class="btn btn-default btn-xs" value="Detalle" id="DetalleMunicipio" />
                </td>
            </tr>

        }
    </tbody>
</table>

