@model SAT.Models.tbAsignaturas

@{
    ViewBag.Title = "Detalles de Asignatura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Asignatura</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.asig_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asig_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asig_Semestral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asig_Semestral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asig_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asig_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asig_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asig_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asig_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asig_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asig_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asig_FechaModifica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.asig_Id },new{@class="btn btn-primary"})
	 @Html.ActionLink("Cancelar","Index",null,new{@class="btn btn-default"})
</p>
